In [3]:
import pandas as pd

filename = "movie.csv"
df = pd.read_csv(filename)
df

,movie id,movie title,release date,video release date,IMDb URL
0,1,Toy Story (1995),01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Copycat%20(1995)
...,...,...,...,...,...
1677,1678,Mat' i syn (1997),06-Feb-98,06-Feb-98,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678,1679,B. Monkey (1998),06-Feb-98,06-Feb-98,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679,1680,Sliding Doors (1998),01-Jan-98,01-Jan-98,http://us.imdb.com/Title?Sliding+Doors+(1998)
1680,1681,You So Crazy (1994),01-Jan-94,01-Jan-94,http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681,1682,Scream of Stone (Schrei aus Stein) (1991),08-Mar-96,08-Mar-96,http://us.imdb.com/M/title-exact?Schrei%20aus%...

In [5]:
df = df[['movie title']]
df

                                    movie title
0                              Toy Story (1995)
1                              GoldenEye (1995)
2                             Four Rooms (1995)
3                             Get Shorty (1995)
4                                Copycat (1995)
...                                         ...
1677                          Mat' i syn (1997)
1678                           B. Monkey (1998)
1679                       Sliding Doors (1998)
1680                        You So Crazy (1994)
1681  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 1 columns]

In [11]:
df['year'] = df['movie title'].str[-5:-1]
df['movie title'] = df['movie title'].str[:-6]
df

                              movie title  year
0                              Toy Story   1995
1                              GoldenEye   1995
2                             Four Rooms   1995
3                             Get Shorty   1995
4                                Copycat   1995
...                                   ...   ...
1677                          Mat' i syn   1997
1678                           B. Monkey   1998
1679                       Sliding Doors   1998
1680                        You So Crazy   1994
1681  Scream of Stone (Schrei aus Stein)   1991

[1682 rows x 2 columns]

In [32]:
base_url = "https://api.themoviedb.org/3/search/movie?query="

df['query'] = df['movie title'].str.replace(' ', '%20')
df['query'] = base_url + '?' + df['query']

df['movie title'] = df['movie title'].str.replace(r'\s*\([^()]*\)', '')
df

C:\Users\Jun\AppData\Local\Temp\ipykernel_19548\1246161853.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df['movie title'] = df['movie title'].str.replace(r'\s*\([^()]*\)', '')

,movie title,year,query
0,Toy Story,1995,https://api.themoviedb.org/3/search/movie?quer...
1,GoldenEye,1995,https://api.themoviedb.org/3/search/movie?quer...
2,Four Rooms,1995,https://api.themoviedb.org/3/search/movie?quer...
3,Get Shorty,1995,https://api.themoviedb.org/3/search/movie?quer...
4,Copycat,1995,https://api.themoviedb.org/3/search/movie?quer...
...,...,...,...
1677,Mat' i syn,1997,https://api.themoviedb.org/3/search/movie?quer...
1678,B. Monkey,1998,https://api.themoviedb.org/3/search/movie?quer...
1679,Sliding Doors,1998,https://api.themoviedb.org/3/search/movie?quer...
1680,You So Crazy,1994,https://api.themoviedb.org/3/search/movie?quer...
1681,Scream of Stone,1991,https://api.themoviedb.org/3/search/movie?quer...

In [33]:
import requests

# Create empty lists to store the results
backdrop_paths = []
poster_paths = []

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5MzE5MmEyMTE0ZTZmZjY3MmZmNGU2OGNkNmZhNzBkNSIsInN1YiI6IjYxMGZmZTczNDI2YWU4MDA0NjA0NjBmYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.kjiHvufSiJExVT0CP3Qi1U2djC1HHcC13zdth3m8fh0"
}

# Iterate over each row in the DataFrame
for index, row in df.iterrows():
	response = requests.get(row['query'], headers=headers)
	
	if response.status_code == 200:
		data = response.json()

		# Check if the response contains any results
		if len(data['results']) == 0:
			backdrop_paths.append("")
			poster_paths.append("")
			continue
		
		backdrop_path = data['results'][0]['backdrop_path']
		poster_path = data['results'][0]['poster_path']
		
		backdrop_paths.append(backdrop_path)
		poster_paths.append(poster_path)
	else:
		backdrop_paths.append(None)
		poster_paths.append(None)

df['backdrop_path'] = backdrop_paths
df['poster_path'] = poster_paths

print(df)

           movie title  year  \
0           Toy Story   1995
1           GoldenEye   1995
2          Four Rooms   1995
3          Get Shorty   1995
4             Copycat   1995
...                ...   ...
1677       Mat' i syn   1997
1678        B. Monkey   1998
1679    Sliding Doors   1998
1680     You So Crazy   1994
1681  Scream of Stone   1991

                                                  query  \
0     https://api.themoviedb.org/3/search/movie?quer...
1     https://api.themoviedb.org/3/search/movie?quer...
2     https://api.themoviedb.org/3/search/movie?quer...
3     https://api.themoviedb.org/3/search/movie?quer...
4     https://api.themoviedb.org/3/search/movie?quer...
...                                                 ...
1677  https://api.themoviedb.org/3/search/movie?quer...
1678  https://api.themoviedb.org/3/search/movie?quer...
1679  https://api.themoviedb.org/3/search/movie?quer...
1680  https://api.themoviedb.org/3/search/movie?quer...
1681  https://api.themoviedb.org/3/search/movie?quer...

                         backdrop_path                       poster_path
0     /lxD5ak7BOoinRNehOCA85CQ8ubr.jpg  /uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
1     /5jVWJiPpmk216Q7vjjlwNXXE6ee.jpg  /z0ljRnNxIO7CRBhLEO0DvLgAFPR.jpg
2     /f2t4JbUvQIjUF5FstG1zZFAp02N.jpg  /75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3     /7mbBY0I99nLegO8rcmdLKSU8y28.jpg  /r82SdPhg4fnIcLt0ogIjQxqjdcO.jpg
4     /fYER1mVSnBVsPBSC7IAN0bbscGN.jpg  /lKNjGQXTy5WkSjAtLzLzAN9IHCD.jpg
...                                ...                               ...
1677  /htOI5Z9G4jWY9kZUUrnx1oRiMeF.jpg  /mOecN5ZKgNNhHhmpxrdvpzsWu8O.jpg
1678  /ll1BtZ7R84UZfZppK3l7rCi0TBu.jpg  /80bQjfpH14P5p2TDnfWUukEkM55.jpg
1679  /1dApwEEMrk7QnUb1EpyYWrG6nRh.jpg  /s8VOVTywXZIIHqdEjkCZziH0ebq.jpg
1680  /l05ZfjCAze1ElKPYozIM7uMQJA7.jpg  /iN9whwQExgckFNuuegFksrZYufL.jpg
1681  /tQDeXcuogjNbqdqPeJxBPD7QUzS.jpg  /egROOqQo00anjXFYd6YDZoM4VA3.jpg

[1682 rows x 5 columns]

In [34]:
original_df = pd.read_csv(filename)

In [36]:
joined_df = original_df.merge(df, left_index=True, right_index=True)
print(joined_df)

      movie id                              movie title_x release date  \
0            1                           Toy Story (1995)    01-Jan-95
1            2                           GoldenEye (1995)    01-Jan-95
2            3                          Four Rooms (1995)    01-Jan-95
3            4                          Get Shorty (1995)    01-Jan-95
4            5                             Copycat (1995)    01-Jan-95
...        ...                                        ...          ...
1677      1678                          Mat' i syn (1997)    06-Feb-98
1678      1679                           B. Monkey (1998)    06-Feb-98
1679      1680                       Sliding Doors (1998)    01-Jan-98
1680      1681                        You So Crazy (1994)    01-Jan-94
1681      1682  Scream of Stone (Schrei aus Stein) (1991)    08-Mar-96

     video release date                                           IMDb URL  \
0             01-Jan-95  http://us.imdb.com/M/title-exact?Toy%20Story%2...
1             01-Jan-95  http://us.imdb.com/M/title-exact?GoldenEye%20(...
2             01-Jan-95  http://us.imdb.com/M/title-exact?Four%20Rooms%...
3             01-Jan-95  http://us.imdb.com/M/title-exact?Get%20Shorty%...
4             01-Jan-95  http://us.imdb.com/M/title-exact?Copycat%20(1995)
...                 ...                                                ...
1677          06-Feb-98  http://us.imdb.com/M/title-exact?Mat%27+i+syn+...
1678          06-Feb-98  http://us.imdb.com/M/title-exact?B%2E+Monkey+(...
1679          01-Jan-98      http://us.imdb.com/Title?Sliding+Doors+(1998)
1680          01-Jan-94  http://us.imdb.com/M/title-exact?You%20So%20Cr...
1681          08-Mar-96  http://us.imdb.com/M/title-exact?Schrei%20aus%...

         movie title_y  year  \
0           Toy Story   1995
1           GoldenEye   1995
2          Four Rooms   1995
3          Get Shorty   1995
4             Copycat   1995
...                ...   ...
1677       Mat' i syn   1997
1678        B. Monkey   1998
1679    Sliding Doors   1998
1680     You So Crazy   1994
1681  Scream of Stone   1991

                                                  query  \
0     https://api.themoviedb.org/3/search/movie?quer...
1     https://api.themoviedb.org/3/search/movie?quer...
2     https://api.themoviedb.org/3/search/movie?quer...
3     https://api.themoviedb.org/3/search/movie?quer...
4     https://api.themoviedb.org/3/search/movie?quer...
...                                                 ...
1677  https://api.themoviedb.org/3/search/movie?quer...
1678  https://api.themoviedb.org/3/search/movie?quer...
1679  https://api.themoviedb.org/3/search/movie?quer...
1680  https://api.themoviedb.org/3/search/movie?quer...
1681  https://api.themoviedb.org/3/search/movie?quer...

                         backdrop_path                       poster_path
0     /lxD5ak7BOoinRNehOCA85CQ8ubr.jpg  /uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
1     /5jVWJiPpmk216Q7vjjlwNXXE6ee.jpg  /z0ljRnNxIO7CRBhLEO0DvLgAFPR.jpg
2     /f2t4JbUvQIjUF5FstG1zZFAp02N.jpg  /75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3     /7mbBY0I99nLegO8rcmdLKSU8y28.jpg  /r82SdPhg4fnIcLt0ogIjQxqjdcO.jpg
4     /fYER1mVSnBVsPBSC7IAN0bbscGN.jpg  /lKNjGQXTy5WkSjAtLzLzAN9IHCD.jpg
...                                ...                               ...
1677  /htOI5Z9G4jWY9kZUUrnx1oRiMeF.jpg  /mOecN5ZKgNNhHhmpxrdvpzsWu8O.jpg
1678  /ll1BtZ7R84UZfZppK3l7rCi0TBu.jpg  /80bQjfpH14P5p2TDnfWUukEkM55.jpg
1679  /1dApwEEMrk7QnUb1EpyYWrG6nRh.jpg  /s8VOVTywXZIIHqdEjkCZziH0ebq.jpg
1680  /l05ZfjCAze1ElKPYozIM7uMQJA7.jpg  /iN9whwQExgckFNuuegFksrZYufL.jpg
1681  /tQDeXcuogjNbqdqPeJxBPD7QUzS.jpg  /egROOqQo00anjXFYd6YDZoM4VA3.jpg

[1682 rows x 10 columns]

In [38]:
joined_df.drop(columns=['movie title_x'], inplace=True)
joined_df.rename(columns={'movie title_y': 'movie title'}, inplace=True)
joined_df

,movie id,release date,video release date,IMDb URL,movie title,year,query,backdrop_path,poster_path
0,1,01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Toy%20Story%2...,Toy Story,1995,https://api.themoviedb.org/3/search/movie?quer...,/lxD5ak7BOoinRNehOCA85CQ8ubr.jpg,/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
1,2,01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?GoldenEye%20(...,GoldenEye,1995,https://api.themoviedb.org/3/search/movie?quer...,/5jVWJiPpmk216Q7vjjlwNXXE6ee.jpg,/z0ljRnNxIO7CRBhLEO0DvLgAFPR.jpg
2,3,01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Four%20Rooms%...,Four Rooms,1995,https://api.themoviedb.org/3/search/movie?quer...,/f2t4JbUvQIjUF5FstG1zZFAp02N.jpg,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,4,01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Get%20Shorty%...,Get Shorty,1995,https://api.themoviedb.org/3/search/movie?quer...,/7mbBY0I99nLegO8rcmdLKSU8y28.jpg,/r82SdPhg4fnIcLt0ogIjQxqjdcO.jpg
4,5,01-Jan-95,01-Jan-95,http://us.imdb.com/M/title-exact?Copycat%20(1995),Copycat,1995,https://api.themoviedb.org/3/search/movie?quer...,/fYER1mVSnBVsPBSC7IAN0bbscGN.jpg,/lKNjGQXTy5WkSjAtLzLzAN9IHCD.jpg
...,...,...,...,...,...,...,...,...,...
1677,1678,06-Feb-98,06-Feb-98,http://us.imdb.com/M/title-exact?Mat%27+i+syn+...,Mat' i syn,1997,https://api.themoviedb.org/3/search/movie?quer...,/htOI5Z9G4jWY9kZUUrnx1oRiMeF.jpg,/mOecN5ZKgNNhHhmpxrdvpzsWu8O.jpg
1678,1679,06-Feb-98,06-Feb-98,http://us.imdb.com/M/title-exact?B%2E+Monkey+(...,B. Monkey,1998,https://api.themoviedb.org/3/search/movie?quer...,/ll1BtZ7R84UZfZppK3l7rCi0TBu.jpg,/80bQjfpH14P5p2TDnfWUukEkM55.jpg
1679,1680,01-Jan-98,01-Jan-98,http://us.imdb.com/Title?Sliding+Doors+(1998),Sliding Doors,1998,https://api.themoviedb.org/3/search/movie?quer...,/1dApwEEMrk7QnUb1EpyYWrG6nRh.jpg,/s8VOVTywXZIIHqdEjkCZziH0ebq.jpg
1680,1681,01-Jan-94,01-Jan-94,http://us.imdb.com/M/title-exact?You%20So%20Cr...,You So Crazy,1994,https://api.themoviedb.org/3/search/movie?quer...,/l05ZfjCAze1ElKPYozIM7uMQJA7.jpg,/iN9whwQExgckFNuuegFksrZYufL.jpg
1681,1682,08-Mar-96,08-Mar-96,http://us.imdb.com/M/title-exact?Schrei%20aus%...,Scream of Stone,1991,https://api.themoviedb.org/3/search/movie?quer...,/tQDeXcuogjNbqdqPeJxBPD7QUzS.jpg,/egROOqQo00anjXFYd6YDZoM4VA3.jpg

In [40]:
joined_df.drop(columns=['IMDb URL', 'query'], inplace=True)
joined_df

,movie id,release date,video release date,movie title,year,backdrop_path,poster_path
0,1,01-Jan-95,01-Jan-95,Toy Story,1995,/lxD5ak7BOoinRNehOCA85CQ8ubr.jpg,/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg
1,2,01-Jan-95,01-Jan-95,GoldenEye,1995,/5jVWJiPpmk216Q7vjjlwNXXE6ee.jpg,/z0ljRnNxIO7CRBhLEO0DvLgAFPR.jpg
2,3,01-Jan-95,01-Jan-95,Four Rooms,1995,/f2t4JbUvQIjUF5FstG1zZFAp02N.jpg,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg
3,4,01-Jan-95,01-Jan-95,Get Shorty,1995,/7mbBY0I99nLegO8rcmdLKSU8y28.jpg,/r82SdPhg4fnIcLt0ogIjQxqjdcO.jpg
4,5,01-Jan-95,01-Jan-95,Copycat,1995,/fYER1mVSnBVsPBSC7IAN0bbscGN.jpg,/lKNjGQXTy5WkSjAtLzLzAN9IHCD.jpg
...,...,...,...,...,...,...,...
1677,1678,06-Feb-98,06-Feb-98,Mat' i syn,1997,/htOI5Z9G4jWY9kZUUrnx1oRiMeF.jpg,/mOecN5ZKgNNhHhmpxrdvpzsWu8O.jpg
1678,1679,06-Feb-98,06-Feb-98,B. Monkey,1998,/ll1BtZ7R84UZfZppK3l7rCi0TBu.jpg,/80bQjfpH14P5p2TDnfWUukEkM55.jpg
1679,1680,01-Jan-98,01-Jan-98,Sliding Doors,1998,/1dApwEEMrk7QnUb1EpyYWrG6nRh.jpg,/s8VOVTywXZIIHqdEjkCZziH0ebq.jpg
1680,1681,01-Jan-94,01-Jan-94,You So Crazy,1994,/l05ZfjCAze1ElKPYozIM7uMQJA7.jpg,/iN9whwQExgckFNuuegFksrZYufL.jpg
1681,1682,08-Mar-96,08-Mar-96,Scream of Stone,1991,/tQDeXcuogjNbqdqPeJxBPD7QUzS.jpg,/egROOqQo00anjXFYd6YDZoM4VA3.jpg

In [44]:
joined_df['movie title'] = joined_df['movie title'].str.strip()

joined_df.to_csv('movie_new.csv', index=False)